<!DOCTYPE html>
<html>

<head>
  <title>OAuThing Login</title>
  <!-- Needed for mobile sites to work -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://use.fontawesome.com/3bf1d9a3ea.js"></script>
  <!-- Style sheets -->
  <link rel="stylesheet" type="text/css" href="stylesheets/pure-min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/base.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/sign-in-modules.css">
</head>
<body>


<div class="pure-form pure-form-stacked upper-box">
<style scoped>

        
        .button-blue {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }


        .button-blue {
            background: rgb(66, 184, 221); /* this is a light blue */
        }

    </style>
<div class="pure-control-group">
<a class="button-blue pure-button" href="/auth/github"><i class="fa fa-github" aria-hidden="true"></i> Login with Github</a>
</div> <p/>
<div class="pure-control-group">
<a class="button-blue pure-button" href="/auth/google"><i class="fa fa-google-plus" aria-hidden="true"></i> Login with Google+</a>
</div>      <p/>
<div class="pure-control-group">
<a class="button-blue pure-button" href="/auth/facebook"><i class="fa fa-facebook" aria-hidden="true"></i> Login with Facebook</a>
</div>      <p/>
<div class="pure-control-group">
<a class="button-blue pure-button" href="/auth/twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i> Login with Twitter</a>
</div><p/>
</div>


</body>
</html>
